In [1]:
%pip install pandas

# import pandas library
import pandas as pd

Requirement already satisfied: pandas in c:\users\mine\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mine\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mine\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mine\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\mine\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\mine\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Read the CSV file and read the data into a dataframe.

In [2]:
# import pandas library
import pandas as pd

In [3]:
#read in the csv file as a pandas dataframe
airBNB = pd.read_csv("Bangkok_Listings_2023.csv")

Expore the current dataframe and return the new dataframe with data columns.

In [5]:
airBNB.info()

airBNB.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17396 entries, 0 to 17395
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              17396 non-null  int64
 1   name                            17388 non-null  object
 2   host_id                         17396 non-null  int64
 3   host_name                       17395 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   17396 non-null  object
 6   latitude                        17396 non-null  float64
 7   longitude                       17396 non-null  float64
 8   room_type                       17396 non-null  object
 9   price                           17396 non-null  int64
 10  minimum_nights                  17396 non-null  int64
 11  number_of_reviews               17396 non-null  int64
 12  last_review                     11214 non-null  object
 13  reviews_per_month               11214 non-null  float64
 14  calculated_host_listings_count  17396 non-null  int64
 15  availability_365                17396 non-null  int64
 16  number_of_reviews_ltm           17396 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(8), object(5)
memory usage: 2.4+ MB

(17396, 18)

Correcting Inconsistent Data and also Removing Duplicates from the DataSet.

In [6]:
#remove the duplicates from the original dataset.
airBNB.drop_duplicates(inplace=True)

#collect all the inconsistencies data.
airBNB['room_type'].replace('Shared room', 'Shared', inplace=True)

remove the license,  last_review,  number_of_reviews_ltm, neighbourhood_group

In [7]:
columns_to_drop = ['license', 'last_review', 'number_of_reviews_ltm', 'neighbourhood_group']

airBNB.drop(columns=columns_to_drop, inplace=True)

In [8]:
airBNB.info()

airBNB.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17396 entries, 0 to 17395
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              17396 non-null  int64
 1   name                            17388 non-null  object
 2   host_id                         17396 non-null  int64
 3   host_name                       17395 non-null  object
 4   neighbourhood                   17396 non-null  object
 5   latitude                        17396 non-null  float64
 6   longitude                       17396 non-null  float64
 7   room_type                       17396 non-null  object
 8   price                           17396 non-null  int64
 9   minimum_nights                  17396 non-null  int64
 10  number_of_reviews               17396 non-null  int64
 11  reviews_per_month               11214 non-null  float64
 12  calculated_host_listings_count  17396 non-null  int64
 13  availability_365                17396 non-null  int64
dtypes: float64(3), int64(7), object(4)
memory usage: 1.9+ MB

(17396, 14)

In [9]:
#check the head of the df
airBNB.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,27934,Nice room with superb city view,120437,Nuttee,Ratchathewi,13.75983,100.54134,Entire home/apt,1885,3,65,0.49,2,362
1,27979,"Easy going landlord,easy place",120541,Emy,Bang Na,13.66818,100.61674,Private room,1307,1,0,NaN,2,358
2,28745,modern-style apartment in Bangkok,123784,Familyroom,Bang Kapi,13.75232,100.62402,Private room,800,60,0,NaN,1,365
3,35780,Spacious one bedroom at The Kris Condo Bldg. 3,153730,Sirilak,Din Daeng,13.78823,100.57256,Private room,1286,7,3,0.04,1,358
4,906203,1 BR on Srinakrin Rd. Parkland,4850305,Dujdao,Bang Na,13.65441,100.64548,Private room,791,1,0,NaN,1,365

In [11]:
airBNB['reviews_per_month'].fillna(0, inplace=True)

#check the head of the df
airBNB.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,27934,Nice room with superb city view,120437,Nuttee,Ratchathewi,13.75983,100.54134,Entire home/apt,1885,3,65,0.49,2,362
1,27979,"Easy going landlord,easy place",120541,Emy,Bang Na,13.66818,100.61674,Private room,1307,1,0,0.00,2,358
2,28745,modern-style apartment in Bangkok,123784,Familyroom,Bang Kapi,13.75232,100.62402,Private room,800,60,0,0.00,1,365
3,35780,Spacious one bedroom at The Kris Condo Bldg. 3,153730,Sirilak,Din Daeng,13.78823,100.57256,Private room,1286,7,3,0.04,1,358
4,906203,1 BR on Srinakrin Rd. Parkland,4850305,Dujdao,Bang Na,13.65441,100.64548,Private room,791,1,0,0.00,1,365

In [12]:
%pip install openpyxl


# writing the final dataframe to an excel file
airBNB.to_excel('Bangkok_Listings_2023.xlsx', sheet_name='Data')

Requirement already satisfied: openpyxl in c:\users\mine\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\mine\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
# writing the final dataframe to an csv file
airBNB.to_csv('Bangkok_Listings_CSV_2023.csv', index=False)